# Docker Compose settings
LLMPATIENTS_AGENT_IMAGE=llmpatients-agent:latest
LLMPATIENTS_AGENT_BASE_IMAGE=intel/vllm
LLMPATIENTS_AGENT_PORT=8000
LLMPATIENTS_AGENT_RENDER_GROUP=109

# Runtime settings
model_provider=local
model_id=
temperature=0.7
max_tokens=512
max_model_len=
cache_path=

# Vertex AI settings
GCP_PROJECT=
GCP_LOCATION=us-central1
GOOGLE_APPLICATION_CREDENTIALS=config/vertex-ai-api-key.json

# Optional API settings
PSYLLM_EXPORT_TOKEN=
CLI_ARGS=

# Intel XPU settings
PYTORCH_XPU_ALLOC_CONF=max_split_size_mb:512
NEO_READ_XPU_MEM=1
ONEAPI_DEVICE_SELECTOR=level_zero:0
DONT_SET_DEVICE_MAP=1
PYTORCH_TRITON_XPU_CACHE_DIR=/tmp/triton_cache
