HUGGINGFACE_TOKEN = "hf-token"
GOOGLE_APPLICATION_CREDENTIALS = config/vertex-ai-api-key.json

LANGCHAIN_API_KEY = "langchain-api-key"
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=psyllm-agent-tracing
LANGCHAIN_TRACING_V2=true

INTENT_TOPIC_PROMPT_PATH = prompts/intent_topic.txt

model_provider = vertex_ai  # or "local"
model_id = gemini-2.5-pro

temperature = 0.7
max_tokens = 4096

# Google Vertex AI settings (only needed if provider is vertex_ai)
GCP_PROJECT = epatient-466014
GCP_LOCATION = us-central1
